@font-face {
  font-family: 'IBM';
  src: url('../../fonts/IBM_Plex_Mono/IBMPlexMono-Regular.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

.terminalContainer {
  font-family: 'IBM';
  width: 100%;
  background-image: url('../../assets/TerminalBorder.svg');
  background-size: 94%;
  background-repeat: no-repeat;
  padding: 40px;
  color: #A8CED0;
  height: 500px; /* This ensures the container has a fixed height */
  display: flex;
  flex-direction: column; /* Stacks terminal content and input */
}

.terminalHeader {
  font-size: 14px;
  margin-bottom: 10px;
}

.terminalPath {
  font-weight: bold;
}

.terminalContent {
  flex-grow: 1; /* Takes up the remaining space */
  overflow-y: auto; /* Enables vertical scrolling */
  overflow-x: hidden; /* Disables horizontal scrolling */;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  max-height: calc(100% - 200px); 
}

.terminalCommand {
  font-size: 14px;
  color: #A8CED0;
  margin-bottom: 5px;
}

.terminalInput {
  width: 100%;
  background: none;
  border: none;
  color: #A8CED0;
  font-size: 14px;
  outline: none;
  margin-top: 10px;
}